.services{
    padding: 0px 180px 100px 180px;
}
.service-headline-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;    
}

.service-headline-subtext{
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;    
}

.service-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    margin-top: 70px;
    
}

.service{
    display: flex;
    flex-direction: column;
    gap: 90px;
    transition: transform 0.2s ease;
}

.service:hover{
    transform: scale(1.1);
}

.service-img{
    height: 520px;
    width: 600px;
    
}

.service-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.service-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;    
}

.service-subtext{
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.get-start-button{
    width: 130px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;        
    color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #1668E8;
    cursor: pointer;
}