.comapany-details-page{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 20px;
    padding: 60px 160px;
    margin-top: 100px;

}

.company-details-name{
    font-size: 34px;
    font-weight: 500;
    line-height: 41.15px;
    color: #16263D;
    text-transform: uppercase;
}

.company-desc{
    font-size: 28px;
    font-weight: 300;
    line-height: 24px;
    color: #414345;
    margin-bottom: 30px;
}

.company-image{
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
}

.company-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 65%;
}

.company-details-title{
    font-size: 34px;
    font-weight: 600;
    line-height: 29.16px;
    color: #16263D;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.company-details-subtitle{
    font-size: 28px;
    font-weight: 400;
    line-height: 29.16px;
    color: #414345;
    text-transform: uppercase;
}

.company-long-desc{
    font-size: 20px;
    font-weight: 300;
    line-height: 29.16px;
    color: #414345;
}

