.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}
.company-name{
    font-size: 24px;
    font-weight: 600;
    line-height: 41.15px;
    color: #16263D;
    align-items: center;
    text-align: center;
}

.navbar-content{
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
}

.navbar-pages{
    color: #16263D;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.navbar-page{
    font-size: 18px;
    line-height: 24px;
    color: #16263D;
    cursor: pointer;
    text-decoration: none;
}
.navbar-buttons{
    display: flex;
    gap: 10px;
}


.register-button{
    padding: 10px 50px;
    background-color: #16263D;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}