.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.company-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 41.15px;
    color: #16263D;
    align-items: center;
    text-align: center;
}

.navbar-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
}

.navbar-pages {
    color: #16263D;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.navbar-page {
    font-size: 18px;
    line-height: 24px;
    color: #16263D;
    cursor: pointer;
    text-decoration: none;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    /* Ensure alignment */
}

.register-button {
    padding: 10px 50px;
    background-color: #16263D;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.profile-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon img {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    border-radius: 50%;
    cursor: pointer;
}

.profile-fallback {
    display: none;
    /* Initially hidden */
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    border-radius: 50%;
    background-color: #16263D;
    /* Fallback color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.profile-icon img[style*="display: none"]+.profile-fallback {
    display: flex;
    /* Show fallback when image is not available */
}