.admin-dashboard {
    display: flex;
    margin-top: 80px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e0e0e0;
    border-radius: 8px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar ul li:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.sidebar ul li.active {
    background-color: #16263D;
    color: #fff;
}

.main-content {
    flex: 1;
    padding: 0px 20px;
    height: 100vh;
}

.section {
    margin-bottom: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5em;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    background: #f0f0f0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.section ul li:hover {
    background: #e0e0e0;
}

.section form {
    display: flex;
    flex-direction: column;
}

.section form textarea,
.section form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.section form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section form button:hover {
    background-color: #0056b3;
}

.user-details,
.company-details {
    margin-bottom: 20px;
}

.chart-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.add-funds {
    margin-top: 20px;
}

.add-funds h4 {
    margin-bottom: 10px;
}

.add-funds form {
    display: flex;
    flex-direction: column;
}

.add-funds form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-funds form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-funds form button:hover {
    background-color: #0056b3;
}